.all-tasks-section {
    .day-tasks-title {
        margin-top: 17px;
        font-size: var(--text-14);
        line-height: var(--lh-20);
        font-weight: var(--fw-400);
        color: var(--gray-800);
    }

    .day-tasks__item {
        margin-top: 17px;

        display: grid;
        grid-template-columns: 1fr 88px;
    }

    .day-task {
        margin-top: 16px;
        padding-left: 12px;
        position: relative;
        cursor: pointer;
        pointer-events: all;

        &::before {
            position: absolute;
            content: "";
            left: 0px;
            width: 4px;
            height: 100%;
            border-radius: 2px;
            background-color: transparent;
        }

        &--videocall {
            &::before {
                background-color: var(--blue-600);
            }
        }

        &--office {
            &::before {
                background-color: var(--red-300);
            }
        }

        &--phonecall {
            &::before {
                background-color: var(--green-700);
            }
        }

        &--test {
            &::before {
                background-color: var(--gray-850);
            }
        }

        &--offer {
            &::before {
                background-color: var(--emerald-300);
            }
        }

        &--work {
            &::before {
                background-color: var(--orange-600);
            }
        }
    }

    .day-task__type {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;

            background-size: 16px 16px;
            background-repeat: no-repeat;
            background-position: center;
        }

        &--videocall {
            &::before {
                background-image: url(../img/icons/icon-schedule-videocall.svg);
            }
        }
        &--office {
            &::before {
                background-image: url(../img/icons/icon-schedule-office.svg);
            }
        }
        &--phonecall {
            &::before {
                background-image: url(../img/icons/icon-schedule-phonecall.svg);
            }
        }
        &--test {
            &::before {
                background-image: url(../img/icons/icon-schedule-test.svg);
            }
        }

        &--offer {
            &::before {
                background-image: url(../img/icons/icon-schedule-offer.svg);
            }
        }

        &--work {
            &::before {
                background-image: url(../img/icons/icon-schedule-work.svg);
            }
        }
    }

    .day-task__type-title {
        padding-top: 2px;
        font-size: var(--text-12);
        line-height: var(--lh-14);
        font-weight: var(--fw-400);

        margin-left: 20px;

        &--videocall {
            color: var(--blue-600);
        }

        &--office {
            color: var(--red-300);
        }

        &--phonecall {
            color: var(--green-700);
        }

        &--test {
            color: var(--gray-850);
        }

        &--offer {
            color: var(--emerald-300);
        }

        &--work {
            color: var(--orange-600);
        }
    }

    .day-task__title {
        margin-top: 4px;
        font-size: var(--text-14);
        line-height: var(--lh-20);
        font-weight: var(--fw-400);
        color: var(--gray-1000);
    }

    .day-task__time-period {
        margin-top: 4px;
        font-size: var(--text-12);
        line-height: var(--lh-14);
        font-weight: var(--fw-400);
        color: var(--gray-700);
    }

    .day-task__button-wrapper {
        display: flex;

        justify-content: space-between;
        align-items: center;
    }

    .day-task__button {
        display: block;
        width: 36px;
        height: 36px;
        border-radius: 6px;
        background-color: var(--white);
        border: 1px solid var(--gray-600);
        position: relative;
        transition: $transition-basic;

        &::before {
            display: block;
            position: absolute;
            content: "";
            width: 100px;
            padding: 3px 10px;
            border-radius: 2px;
            bottom: -30px;
            left: calc(50% - 50px);
            font-size: var(--text-11);
            line-height: var(--lh-14);
            font-weight: var(--fw-400);
            color: var(--white);
            background-color: var(--gray-850);
            opacity: 0;
        }

        &--options {
            background-image: url(../img/icons/icon-task-options.svg);
            background-position: center;
            background-size: auto;
            background-repeat: no-repeat;

            &:hover {
                &:before {
                    content: "Настройки";
                    opacity: 1;
                    transition: $transition-basic;
                }
            }
        }

        &--remind {
            background-image: url(../img/icons/icon-task-alarm.svg);
            background-position: center;
            background-size: auto;
            background-repeat: no-repeat;

            &:hover {
                &:before {
                    content: "Напоминание";
                    opacity: 1;
                    transition: $transition-basic;
                }
            }
        }
    }
}
